.title {
    text-transform: uppercase;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    letter-spacing: 0rem;
}

nav ul li a {
    font-family: "Oswlad", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0rem;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #90caf9;
}

.card-image {
    height: 24rem;
    padding-top: 2rem;
}

.card-reveal h4 {
    font-size: 1.2rem;
}
.no-top-mg {
    margin-top: 0;
}

.no-bottom-mg {
    margin-bottom: 0;
}

.title {
    padding-top: 3rem;
}

img {
    width: 100%;
}

blockquote {
    border-color: #0d47a1;
}

.error-flash {
   background-color: #ef5350; 
}

.success-flash {
    background-color: #90caf9;
}

.modal {
    width: 60%;
}

.workout-container {
    border-bottom: 2px solid #0d47a1;
    padding-bottom: 1rem;
}

.tabs {
    margin-bottom: 2rem;
}

.tabs .tab a {
    color: #000;
    font-weight: 600;
}
 .tabs .tab a:hover {
    color: #000;
 }
.tabs .tab a:focus.active {
    background-color: rgba(13, 71, 161, 0.2);
    color: #000;
}

.tabs .indicator {
    background-color:#0d47a1;
}

.text-icon {
    position: relative;
    top: 5px;
}

@media only screen and (max-width: 1000px) {
    .modal {
      width: 80%;
    }
  }

@media only screen and (max-width: 600px) {
    .modal {
      width: 95%;
    }
  }
