.title {
    text-transform: uppercase;
    font-size: 5rem;
    padding-left: 2rem;
}

.title-small {
    text-transform: uppercase;
    font-size: 2.5rem;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1, 
h2, 
h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    letter-spacing: 0rem;
}

.card-reveal h2, span {
    font-size: 1rem;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

.profile-stats h3 {
    font-size: 1.5rem;
}

.profile-quote {
    font-size: 1.3rem;
}

.form-tip {
    font-style: italic;
    font-family: "Roboto", sans-serif;
}

.blog-title {
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    padding: 1.5rem 0 1.5rem 0;
    background: rgba(255, 255, 255, 0);
}

.navbar-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url(/static/images/runners_cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav.no-top-mg {
    background: rgba(255, 255, 255, 0);
}

nav ul li a,
.sidenav li a {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #90caf9;
}

img {
    width: 100%;
}

.img-border {
    border: 5px solid #000;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.card-image{
    height: 20rem;
    overflow: hidden;
}

.card-image img{
    height: 20rem;
    object-fit: cover;
}

.card-reveal h4 {
    font-size: 1rem;
    margin: 0;
}

.no-top-mg {
    margin-top: 0;
}

.no-bottom-mg {
    margin-bottom: 0;
}

.title {
    padding-top: 3rem;
}


blockquote {
    border-color: #0d47a1;
}

.error-flash {
   background-color: #ef5350; 
}

.success-flash {
    background-color: #90caf9;
}


.flashes h4 {
    line-height: 6rem;
    border-radius: 3px;
}

.modal {
    width: 60%;
}

.delete-modal {
    width: 40%;
}

.workout-container {
    border-bottom: 2px solid #0d47a1;
    padding-bottom: 1rem;
}

.comment {
    border-top: 1px solid #000;
}

.line-breaks {
    white-space: pre-wrap;
}

.divider {
    background-color: #0d47a1;
    height: 2px;
}


.attendant {
    display: inline-block;
    border: 1px solid #90caf9;
    border-radius: 5px;
    padding: 0.2rem;
    margin-bottom: 1rem;
}

.small-bottom-mg {
    margin-bottom: 0.5rem;
}

.small-top-mg {
    margin-top: 0.5rem;
}

.btn-small {
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
}

.tabs {
    margin-bottom: 2rem;
}

.tabs .tab a {
    color: #000;
    font-weight: 600;
}

.tabs .tab a.active {
    color: #000;
    background-color: rgba(13, 71, 161, 0.2);
}
 .tabs .tab a:hover {
    color: #000;
 }
.tabs .tab a:focus.active {
    background-color: rgba(13, 71, 161, 0.2);
    color: #000;
}

.tabs .indicator {
    background-color:#0d47a1;
}

.text-icon {
    position: relative;
    top: 5px;
}

.capitalize {
    text-transform: capitalize;
}

.progress {
    height: 0.75rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px #1e88e5;
}

main {
    flex: 1 0 auto;
  }

  .back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 3.5rem; /* Place the button at the bottom of the page */
    right: 3rem; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #0d47a1; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.8rem; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    opacity: 0.7;
  }

  .back-to-top i {
      font-size: 3rem;
  }
  
  .back-top-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


@media only screen and (max-width: 993px) {
    .flashes h4 {
        font-size: 2rem;
        line-height: 3rem;
    }
    .modal {
      width: 80%;
    }
    .navbar-bg {
        background: #000;
    }
  }

@media only screen and (max-width: 600px) {
    .flashes h4 {
        font-size: 1.2rem;
    }
    .modal {
      width: 95%;
    }
    .back-to-top i {
        font-size: 2rem;
    }
    .back-to-top {
        bottom: 3.5rem;
        right: 1.5rem;   
    }
  }
