{% extends "base.html" %}
{% block content %}

<h1 class="center-align">Edit Profile</h1>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_profile', user_id=member._id) }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" value="{{ member.first_name }}" name="first_name" type="text"
                        class="validate"
                        oninvalid="this.setCustomValidity('Enter first name. Maximum 50 characters, no blank space.')"
                        oninput="this.setCustomValidity('')" minlength="2" maxlength="50" pattern="^[\S]+$" required>
                    <label for="first_name">First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="last_name" value="{{ member.last_name }}" name="last_name" type="text" class="validate"
                        oninvalid="this.setCustomValidity('Enter last name. Maximum 50 characters, no blank space.')"
                        oninput="this.setCustomValidity('')" minlength="2" maxlength="50" pattern="^[\S]+$" required>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="fitness" class="validate" name="fitness" required>
                    <option class="initial-value" value="{{ member.fitness }}" selected>{{ member.fitness }}
                        </option>
                    <option value="Very Low">Very Low</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                    <option value="Very High">Very High</option>
                    </select>
                    <label for="fitness">Level of general fitness</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="stamina" class="validate" name="stamina" required>
                    <option value="{{ member.stamina }}" selected>{{ member.stamina }}</option>
                    <option value="Very Low">Very Low</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                    <option value="Very High">Very High</option>
                    </select>
                    <label for="stamina">Level of Stamina</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="strength" class="validate" name="strength" required>
                    <option value="{{ member.strength }}" selected>{{ member.strength }}</option>
                    <option value="Very Low">Very Low</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                    <option value="Very High">Very High</option>
                    </select>
                    <label for="strength">Level of Strength</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="speed" class="validate" name="speed" required>
                    <option value="{{ member.speed }}" selected>{{ member.speed }}</option>
                    <option value="Very Low">Very Low</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                    <option value="Very High">Very High</option>
                    </select>
                    <label for="speed">Level of Speed</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="slogan" name="slogan" class="materialize-textarea" data-length="120"
                        maxlength="120">{{ member.quote }}</textarea>
                    <label for="slogan">Do you have a slogan or any words of motivation? <span class="form-tip">(Optional)</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="img-url" value="{{ member.img }}" name="img-url" type="text" class="validate"
                        oninvalid="this.setCustomValidity('Url must start with http(s): and end with .jpg, .png or .gif')"
                        oninput="this.setCustomValidity('')" maxlength="300" pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)">
                    <label for="img-url">Enter url for an image <span class="form-tip">(Optional)</span></label>
                </div>
            </div>
            <button class="btn-large waves-effect waves-light blue darken-4" type="submit" name="action">Save
                <i class="material-icons right">save</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}