{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h2 class="center-align">Edit Blog Post</h2>

            <form method="POST" action="{{ url_for('edit_blog', post_id=post._id, redirect_to=redirect_to) }}">
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <i aria-hidden="true" class="material-icons prefix">title</i>
                        <input id="title" name="title" value="{{ post.title }}" type="text" class="validate"
                            oninvalid="this.setCustomValidity('Enter a title between 2 and 50 characters.')"
                            oninput="this.setCustomValidity('')" minlength="2" maxlength="50" pattern="^[^\s].*" data-length="50"
                            required>
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 s10 offset-s1">
                        <i aria-hidden="true" class="material-icons prefix">subject</i>
                        <textarea id="main-content" name="main-content" class="materialize-textarea"
                            oninvalid="this.setCustomValidity('Enter main content of blog post.')"
                            oninput="this.setCustomValidity('')" minlength="5" maxlength="3000" data-length="3000"
                            required>{{ post.description }}</textarea>
                        <label for="main-content">Text content</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Save
                            <i aria-hidden="true" class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}