{% extends "base.html" %}
{% block content %}

<h1 class="center-align">Register and create an account!</h1>
<p class="center-align">You want to join the team? Awesome! Please take some time to fill out this form so we can set up
    your account.</p>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user prefix light-blue-text text-darken-4"></i>
                    <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="20"
                        pattern="^[a-zA-Z0-9]{5,20}$" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                    <input id="password" name="password" type="password" class="validate" minlength="5"
                        pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <button class="btn-large waves-effect waves-light blue darken-4" type="submit" name="action">Login
                <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
        <div class="row">
            <p class="col s12 center-align">or <a href="{{ url_for('register') }}">Create an account</a></p>
        </div>
    </form>
</div>

{% endblock %}