{% extends "base.html" %}
{% block content %}
<div class="row">
    <h1 class="center-align">Meet the Team</h1>
    {% for member in members  %}
    <div class="col s12 m6 l4 xl3 runner">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                {% if member.img %}
                <img class="activator" src="{{ member.img }}" alt="">
                {% else %}
                <img class="activator" src="{{ url_for('static', filename='images/runner-logo.PNG') }}" alt="">
                {% endif %}
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 capitalize">{{ member.last_name }}<i
                        class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <div><i aria-hidden="true" class="card-title material-icons right">close</i></div>
                <span class="card-title small-bottom-mg grey-text text-darken-4 capitalize">{{ member.first_name }}
                    {{ member.last_name }}</span>
                <h2>Stamina: </h2>
                <div class="progress">
                    <div class="determinate" data-value="{{ member.stamina }}"></div>
                </div>
                <h2>Strength: </h2>
                <div class="progress">
                    <div class="determinate" data-value="{{ member.strength }}">
                    </div>
                </div>
                <h2>Speed: </h2>
                <div class="progress">
                    <div class="determinate" data-value="{{ member.speed }}"></div>
                </div>
                <h2>General fitness:</h2>
                <div class="progress">
                    <div class="determinate" data-value="{{ member.fitness }}"></div>
                </div>
                <blockquote><em>{{ member.quote }}</em></blockquote>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}