{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12">
        <h1 class="center-align">Training Blog</h1>
    </div>
</div>

<!-- Modal form for new workout-post -->
<div id="new-workout" class="modal">
    <div class="modal-content">
        <h2 class="center-align">Post a Workout</h2>
    </div>
    <form method="POST" action="{{ url_for('add_post') }}">
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix">title</i>
                <input id="workout-title" name="workout-title" type="text" class="validate"
                    oninvalid="this.setCustomValidity('Enter a title between 2 and 50 characters.')"
                    oninput="this.setCustomValidity('')" minlength="2" maxlength="50" pattern="^[^\s].*" required>
                <label for="workout-title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m5 offset-m1 s10 offset-s1">
                <i class="material-icons prefix">calendar_today</i>
                <input type="text" id="date" name="date" class="datepicker validate"
                    oninvalid="this.setCustomValidity('Pick a date for the workout.')"
                    oninput="this.setCustomValidity('')" required>
                <label for="date">Date</label>
            </div>
            <div class="input-field col m5 s10 offset-s1">
                <i class="material-icons prefix">access_time</i>
                <input type="text" id="time" name="time" class="timepicker validate"
                    oninvalid="this.setCustomValidity('Enter a time for the workout.')"
                    oninput="this.setCustomValidity('')" required>
                <label for="time">Time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m5 offset-m1 s10 offset-s1">
                <i class="material-icons prefix">access_alarm</i>
                <select id="duration" class="validate" name="duration" required>
                    <option value="" disabled selected>Choose an option</option>
                    <option value="15">15 min</option>
                    <option value="30">30 min</option>
                    <option value="45">45 min</option>
                    <option value="60">60 min</option>
                    <option value="90">90 min</option>
                    <option value="90+">90+ min</option>
                </select>
                <label for="duration">Duration of Workout</label>
            </div>
            <div class="input-field col m5 offset-s1 s10 offset-s1">
                <i class="material-icons prefix">location_on</i>
                <input id="location" name="location" type="text" class="validate"
                    oninvalid="this.setCustomValidity('Enter a location for the workout.')"
                    oninput="this.setCustomValidity('')" minlength="2" maxlength="100" pattern="^[^\s].*" required>
                <label for="location">Location</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix">subject</i>
                <textarea id="description" name="description" class="materialize-textarea validate" data-length="1000"
                    oninvalid="this.setCustomValidity('Describe the workout')" oninput="this.setCustomValidity('')"
                    minlength="5" maxlength="1000" required></textarea>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action"
                    value="workout">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i
                class="text-icon large material-icons">cancel</i>Cancel</a>
    </div>
</div>

<!-- Modal form for new blog-post -->
<div id="new-blog" class="modal">
    <div class="modal-content">
        <h2 class="center-align">New Blog-Post</h2>
    </div>
    <form method="POST" action="{{ url_for('add_post') }}">
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix">title</i>
                <input id="blog-title" name="blog-title" type="text" class="validate"
                    oninvalid="this.setCustomValidity('Enter a title between 2 and 50 characters.')"
                    oninput="this.setCustomValidity('')" minlength="2" maxlength="50" pattern="^[^\s].*" required>
                <label for="blog-title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10 s10 offset-s1">
                <i class="material-icons prefix">subject</i>
                <textarea id="main-content" name="main-content" data-length="3000" class="materialize-textarea validate"
                    oninvalid="this.setCustomValidity('Enter main content of blog post.')"
                    oninput="this.setCustomValidity('')" minlength="5" maxlength="3000" required></textarea>
                <label for="main-content">Text content</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action"
                    value="blog">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i
                class="text-icon large material-icons">cancel</i>Cancel</a>
    </div>
</div>

<!-- Tabs -->
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            {% if active_tab == "blog" %}
            <li class="tab col s6"><a href="#workouts">Workouts</a></li>
            <li class="tab col s6"><a class="active" href="#blog-posts">Blog Posts</a></li>
            {% else %}
            <li class="tab col s6"><a class="active" href="#workouts">Workouts</a></li>
            <li class="tab col s6"><a href="#blog-posts">Blog Posts</a></li>
            {% endif %}
        </ul>
    </div>

    <!-- Workouts tab -->
    {% set is_attending = namespace(attends=False) %}
    {% set this_workout = namespace(has_attendants=False) %}
    <div id="workouts" class="col s12">
        <button id="add-workout" data-target="new-workout" class="btn-large modal-trigger blue darken-4"><i
                class="large material-icons left">add</i>New Post</button>
        {% if workouts|length > 0 %}
        {% for workout in workouts %}
            {% if workout.category == "workout" %}
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel">
                            <h3 class="blog-title">{{ workout.title|upper }}</h3>
                            <p class="grey-text"><em>Posted by: {{ workout.author }}</em></p>
                            <div class="row workout-container">
                                <div class="col s6 m3 workout-specs"><i
                                        class="text-icon small material-icons">location_on</i>{{ workout.location }}
                                </div>
                                <div class="col s6 m3 workout-specs"><i
                                        class="text-icon small material-icons">calendar_today</i>{{ workout.date }}
                                </div>
                                <div class="col s6 m3 workout-specs"><i
                                        class="text-icon small material-icons">access_time</i>{{ workout.time }}
                                </div>
                                <div class="col s6 m3 workout-specs"><i
                                        class="text-icon small material-icons">access_alarm</i>{{ workout.duration }} mins</div>
                            </div>
                            <p class="line-breaks">{{ workout.description }}</p>
                            <div class="attendants">
                                {% for attendant in attendants %}
                                    {% if attendant.post_id == workout._id %}
                                        {% set this_workout.has_attendants = True %}
                                    {% endif %}
                                {% endfor %}
                                {% if this_workout.has_attendants == True %}
                                    <p class="small-bottom-mg"><b>Attending Team Members:</b></p>
                                    {% set this_workout.has_attendants = False %}
                                {% endif %}
                                {% for attendant in attendants if attendant.post_id == workout._id  %}
                                    <div class="attendant">{{ attendant.attendant }}</div>
                                    {% if attendant.attendant == session["user"] %}
                                        {% set is_attending.attends = True %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if is_attending.attends == True %}
                                <a class="waves-effect waves-light btn-small blue"
                                    href="{{ url_for('attend', post_id=workout._id, username=session['user']) }}">Unattend</a>
                            {% else %}
                                <a class="waves-effect waves-light btn-small blue"
                                    href="{{ url_for('attend', post_id=workout._id, username=session['user']) }}">Attend</a>
                            {% endif %}
                            {% set is_attending.attends = False %}
                            {% if session.user|lower == workout.author %}
                                <div class="small-top-mg">
                                    <a href="{{ url_for('edit_workout', post_id=workout._id) }}">EDIT</a> | <a class="modal-trigger"
                                        href="#{{ workout.element_id }}">DELETE</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Modal for delete workout -->
                <div id="{{ workout.element_id }}" class="modal delete-modal">
                    <div class="modal-content">
                        <h4 class="center-align">Delete post</h4>
                        <p class="center-align">Are you sure you want to delete this post?</p>
                        <div class="row">
                            <div class="col s6 center-align">
                                <a class="btn waves-light waves-effect yellow"
                                    href="{{ url_for('delete_workout', post_id=workout._id) }}">DELETE</a>
                            </div>
                            <div class="col s6 center-align">
                                <a href="#!" class="modal-close btn waves-light waves-effect btn">CANCEL</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% else %}
        <p class="center align">No posts yet.</p>
        {% endif %}
    </div>
    <!-- Blog-post tab -->
    <div id="blog-posts" class="col s12">
        <button id="add-blog" data-target="new-blog" class="btn-large modal-trigger blue darken-4"><i
                class="large material-icons left">add</i>New Post</button>
        {% if blogs|length > 0 %}
        {% for blog in blogs %}
            {% if blog.category == "blog-post" %}
                <!-- Blog-post -->
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel no-bottom-mg">
                            <h3>{{ blog.title }}</h3>
                            <p class="grey-text no-top-mg"><em>Posted by: {{ blog.author }}</em></p>
                            <div class="divider"></div>
                            <p class="line-breaks">{{ blog.description }}</p>
                            {% if session.user|lower == blog.author %}
                                <div>
                                    <a href="{{ url_for('edit_blog' , post_id=blog._id) }}">EDIT</a> | <a href="#{{ blog.element_id }}"
                                        class="modal-trigger">DELETE</a>
                                </div>
                            {% endif %}
                        </div>
                        <!-- Comments -->
                        <ul class="collapsible no-top-mg">
                            <li>
                                {% set count_comments = namespace(number=0) %}
                                {% for comment in comments %}
                                    {% if comment.post_id == blog._id %}
                                        {% set count_comments.number = count_comments.number + 1 %}
                                    {% endif %}
                                {% endfor %}
                                <div class="collapsible-header"><i
                                        class="material-icons">speaker_notes</i>Comments({{ count_comments.number }})</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <form method="POST"
                                            action="{{ url_for('add_comment', post_id=blog._id, username=session['user']) }}"
                                            class="col s12">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea id="commentfor{{ blog._id }}" name="comment" class="materialize-textarea"
                                                        required></textarea>
                                                    <label for="commentfor{{ blog._id }}">Textarea</label>
                                                </div>
                                            </div>
                                            <button class="btn waves-effect waves-light blue darken-4" type="submit"
                                                name="action">Submit
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="comments">
                                        {% for comment in comments %}
                                            {% if comment.post_id == blog._id %}
                                                <p class="comment">
                                                <p class="grey-text"><em>Posted by: {{ comment.author }}</em></p>
                                                {% if session.user|lower == comment.author %}
                                                    <div class="small-top-mg">
                                                        <a href="{{ url_for('edit_comment', comment_id=comment._id, post_id=blog._id) }}"><i
                                                        class="material-icons right">create</i></a>
                                                        <a class="modal-trigger"
                                                        href="#{{ comment.element_id }}"><i class="material-icons right">delete</i></a>
                                                    </div>
                                                    <p><em>{{ comment.comment }}</em></p>
                                                {% else %}
                                                    <p><em>{{ comment.comment }}</em></p>
                                                {% endif %}

                                                <!-- Modal for delete comment -->
                                                <div id="{{ comment.element_id }}" class="modal delete-modal">
                                                    <div class="modal-content">
                                                        <h4 class="center-align">Delete Comment</h4>
                                                        <p class="center-align">Are you sure you want to delete this comment?</p>
                                                        <div class="row">
                                                            <div class="col s6 center-align">
                                                                <a class="btn waves-light waves-effect yellow"
                                                                    href="{{ url_for('delete_comment', comment_id=comment._id) }}">DELETE</a>
                                                            </div>
                                                            <div class="col s6 center-align">
                                                                <a href="#!"
                                                                    class="modal-close btn waves-light waves-effect btn blue">CANCEL</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Modal for delete blog-post -->
                <div id="{{blog.element_id}}" class="modal delete-modal">
                    <div class="modal-content">
                        <h4 class="center-align">Delete post</h4>
                        <p class="center-align">Are you sure you want to delete this post?</p>
                        <div class="row">
                            <div class="col s6 center-align">
                                <a class="btn waves-light waves-effect yellow"
                                    href="{{ url_for('delete_blog', post_id=blog._id) }}">DELETE</a>
                            </div>
                            <div class="col s6 center-align">
                                <a href="#!" class="modal-close btn waves-light waves-effect btn blue">CANCEL</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% else %}
        <p class="center-align">No posts yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}